In [2]:
import pandas as pd

In [9]:
df_0p2 = pd.read_csv('/Users/kamrantehranchi/Local_Documents/pypsa-usa/workflow/resources/reliability_hw/simulated_failure_times_theta_10.csv')
df_0p2.describe()

,V1,V2,V3,V4,V5,V6,V7,V8
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,1.330260,1.198963,1.307756,1.545322,1.589921,1.308360,1.303119,1.284007
std,0.753048,1.308430,1.764516,0.989372,0.909118,0.762371,1.064939,1.023694
min,0.027521,0.000401,0.000038,0.020381,0.026652,0.021856,0.003888,0.003834
25%,0.755329,0.298900,0.205167,0.796565,0.877110,0.729272,0.511736,0.514159
50%,1.233645,0.754831,0.685050,1.345090,1.459378,1.222841,1.046897,1.045112
75%,1.789048,1.659638,1.661950,2.070536,2.181170,1.750904,1.795163,1.779042
max,4.129473,10.063951,15.284042,5.211993,5.044632,4.777511,7.149007,6.416846

In [7]:
df_0p8 = pd.read_csv('/Users/kamrantehranchi/Local_Documents/pypsa-usa/workflow/resources/reliability_hw/simulated_failure_times_t08.csv')
df_0p8.describe()

,V1,V2,V3,V4,V5,V6,V7,V8
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,1.335151,1.196328,1.372976,0.363404,1.567239,0.987992,1.301537,1.097527
std,0.793496,1.386460,1.980650,0.106932,0.944722,0.551937,1.116816,0.839311
min,0.029669,0.000075,0.000078,0.065973,0.021765,0.015420,0.001724,0.008922
25%,0.749144,0.296036,0.189314,0.286865,0.874518,0.554162,0.503536,0.443052
50%,1.216627,0.703172,0.663249,0.365823,1.418704,0.902098,1.034851,0.912366
75%,1.784088,1.553446,1.704320,0.438853,2.148192,1.357120,1.712966,1.531196
max,4.271257,11.028434,19.892661,0.665771,7.106887,3.471828,6.999933,4.818686

In [8]:
df_1p2 = pd.read_csv('/Users/kamrantehranchi/Local_Documents/pypsa-usa/workflow/resources/reliability_hw/simulated_failure_times_t12.csv')
df_1p2.describe()

,V1,V2,V3,V4,V5,V6,V7,V8
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,1.329694,1.196311,1.374433,0.363067,1.573019,0.977103,1.302508,1.095798
std,0.773262,1.341257,2.029917,0.108081,0.958216,0.544532,1.081877,0.842679
min,0.034317,0.001364,0.000059,0.054814,0.042151,0.033780,0.005229,0.002978
25%,0.736772,0.273746,0.187906,0.288605,0.833130,0.569627,0.485755,0.459989
50%,1.208900,0.754900,0.641050,0.368716,1.436945,0.898520,0.977427,0.883676
75%,1.782738,1.654689,1.666332,0.438852,2.118563,1.283039,1.804180,1.547177
max,4.398128,12.012728,18.616753,0.640805,6.140922,3.526661,6.314305,5.639802

In [ ]:
df_0p2 = pd.read_csv('/Users/kamrantehranchi/Local_Documents/pypsa-usa/workflow/resources/reliability_hw/simulated_failure_times_t02.csv')
df_0p2.describe()

In [ ]:
df_0p2 = pd.read_csv('/Users/kamrantehranchi/Local_Documents/pypsa-usa/workflow/resources/reliability_hw/simulated_failure_times_t02.csv')
df_0p2.describe()